{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for object in object_list %}
    <div class="col">
        <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"/>
                <image href="{{ object.photo | mymedia }}" width="100%" height="100%"/>
            </svg>

            <div class="card-body">
                <p class="card-text">{{ object.name|title }}</p>
                <span class="text-muted">{{ object.birth_day }}</span><br>
                <span class="text-muted">{{ object.owner|default:"Без хозяина" }}</span>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="card_footer">
                        <a class="btn btn-outline-success" href="{% url 'dogs:dogs_detail' object.pk %}">Посмотреть</a>
                        <a class="btn btn-outline-success" href="{% url 'dogs:dogs_update' object.pk %}">Изменить</a>
                        <a class="btn btn-outline-danger float-right" href="{% url 'dogs:dogs_delete' object.pk %}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}